/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures folder
/[Mm]emoryCaptures/

# Asset Store
/[Aa]ssets/[Aa]sset[Ss]tore*

# Gradle builds
gradlew*

# 깃허브 데스크탑 등에서 생성하는 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boop
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 이진법으로 된 씬/에셋 데이터가 텍스트로 보이지 않을 때 설정
# (텍스트로 씬을 관리하고 싶다면 # 지우기)
# *.unity
# *.prefab